.icon-row {
  display: flex;

  flex-direction: column;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-row__icon i {
  font-size: 35px;
}

.icon-row__icon span {
  margin-top: 18px;
}

.icon-row__num {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  margin-bottom: 40px;
}

.icon-row__icon-empty {
  width: 65px;
  height: 70px;
  background-color: white;
}
